<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CTF Challenges</title>
        <style>
            button {
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 5px;
            }
            button:hover {
                background-color: #45a049;
            }
        </style>
    </head>
    <body>
        <button onclick="window.location.href='/run'">Command Injection</button>
        <button onclick="window.location.href='/template'">SSTI</button>
    </body>
</html>